<?php
/**
 * Created by PhpStorm.
 * User: bcho27
 * Date: 19-May-19
 * Time: 5:19 PM
 */
$this->layout = 'login';
?>

<div class="container">
    <div class="jumbotron">
        <div align="center">
            <h2>Sorry, the page does not exist.</h2>
        </div>
    </div>
</div>